* 
  box-sizing: border-box
  margin: 0

.container 
  width: 1440px
  margin-left: auto
  margin-right: auto

.header 
  background-color: #030303
  &-wrapper
    padding-top: 56px
    display: flex
    justify-content: space-between
  &-nav
    list-style-type: none 
    display: flex
    margin-top: 19px
  &-logo
    display: flex
    align-items: center

.logo
  &-text
    font-family: 'Forum', cursive
    font-size: 28px
    font-weight: normal
    line-height: 50px
    letter-spacing: 5px
    text-transform: uppercase
    color: #FFFFFF
  &-icon
    width: 50px
    height: 34px
    margin-right: 20px
    margin-bottom: 8px

.nav-item 
  font-family: 'Roboto', sans-serif
  font-weight: 200
  font-size: 22px
  line-height: 50px
  letter-spacing: 2px
  color: #FFFFFF
  &:not(:last-child)
    margin-right: 76px
  &:first-child
    margin-left: -19px

// ---------------------------------------- header

.main
  margin-top: -1px

.welcome
  color: #FFFFFF
  background-color: #030303
  background-image: url('../img/welcome.jpg')
  height: 807px
  background-repeat: no-repeat
  background-position: right -2px bottom
  background-size: 63.5%
  padding-top: 170px
  &-title
    display: block
    font-family: 'Forum', cursive
    font-weight: normal
    font-size: 80px
    line-height: 90px
    letter-spacing: 5px
    text-transform: uppercase
    margin-bottom: 27px
  &-subtitle
    display: block
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: 300
    font-size: 28px
    line-height: 33px
    letter-spacing: 2px
    margin-bottom: 78px
  &-button
    padding: 23px 67px
    font-family: 'Roboto', sans-serif
    text-decoration: none
    color: #FFFFFF
    width: 360px
    background: #710707
    border-radius: 10px
    font-weight: 200
    font-size: 22px
    line-height: 26px
    display: flex
    align-items: center
    text-align: center
    letter-spacing: 2px

// ---------------------------------------- main

.visiting
  padding-top: 75px
  &-title
    color: #9D8665
  &-line
    height: 2px
    background: #710707
    margin-bottom: 73px
  &-cards
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.card
  margin-bottom: 66px
  &-image
    margin-bottom: 21px
  &-title
    font-size: 32px
    line-height: 35px
    font-weight: normal
    letter-spacing: 5px
    text-transform: uppercase
    font-family: 'Forum', cursive
    margin-bottom: 9px
  &-line
    width: 300px
    background: #710707
    height: 1px
    margin-bottom: 9px
  &-subtitle
    display: block
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: 200
    font-size: 22px
    line-height: 26px
    margin-bottom: 10px
    &-view
      font-size: 18px
      line-height: 21px


// ---------------------------------------- visiting